*.sh text eol=lf
data/processed/electricity.csv filter=lfs diff=lfs merge=lfs -text
data/processed/m5.csv filter=lfs diff=lfs merge=lfs -text
data/processed/solar.csv filter=lfs diff=lfs merge=lfs -text
data/processed/traffic.csv filter=lfs diff=lfs merge=lfs -text
